/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: #000;
  font-family: Roboto;
  font-weight: 300;
}
/*-------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*-------------------------------*/
._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/*-------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 172px;
  align-items: center;
}
.header__menu {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
.menu {
  padding: 5px 0; /*отступ безопасности*/
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0 52px 0 0;
}
.menu__link {
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
/*-------------------------------*/
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  position: relative;
  z-index: 2;
}
.main-block__title {
  font-family: "Balqis";
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 334px;
  color: #000000;
}
.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*-------------------------------*/
.footer {
}
